* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --desktop-breakpoint: 1000px;
  --horizontal-padding--mobile: 1rem;
  --content-horizontal-padding: 3rem;
  --content-text-space: 1.5rem;
  --grayish-blue: hsl(210, 4%, 67%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --yellow: hsl(51, 100%, 49%);
  --soft-red: hsl(7, 99%, 70%);
  --social-icon-color: #2c7566;
  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;
}

body {
  font-family: var(--font-barlow);
  max-width: 1600px;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
h2 {
  margin-bottom: 2rem;
  font-weight: 800;
}

.button {
  display: block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  width: max-content;
  margin: var(--content-text-space) auto 0;
}

.img {
  width: 100%;
  display: block;
}
.content-wrapper {
  padding: var(--content-horizontal-padding) 1.5rem;
  text-align: center;
}
.heading,
.button {
  text-align: center;
  font-family: var(--font-fraunces);
  position: relative;
  z-index: 2;
}
.button::after {
  content: "";
  width: 100%;
  height: 10px;
  opacity: 0.35;
  position: absolute;
  bottom: 3px;
  left: 0;
  border-radius: 5px;
  z-index: 1;
  transition: opacity 0.25s ease-out;
}
.button-yellow::after {
  background-color: var(--yellow);
}
.button-red::after {
  background-color: var(--soft-red);
}
.button:hover::after,
.button:focus:after {
  opacity: 1;
}

/* HEADER SECTION */

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  display: none;
}
.overlay--visible {
  display: block;
}
.header {
  padding: 2rem;
  color: white;
  min-height: 400px;
  height: 100vh;
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
  background-position-x: 50%;

  position: relative;
}
.header__menu-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.header__navigation {
  background-color: white;
  position: absolute;
  left: 2rem;
  top: 7rem;
  width: calc(100% - 4rem);
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
  padding: 4rem 0;
  transition: all 0.3s ease-out;
  transform: scale(0);
  transform-origin: top right;
  visibility: hidden;
}

.header__navigation--visible {
  top: 7rem;
  visibility: visible;
  transform: scale(1);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid white;
  border-right: 20px solid transparent;
  transform: rotate(270deg);
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: transparent;
}

.mobile-navlink {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  transition: all 0.35s ease-out;
}
.mobile-navlink:hover,
.mobile-navlink:focus {
  background-color: var(--yellow);
  color: var(--very-dark-desaturated-blue);
  outline: none;
}
.hamburger-button {
  background-color: transparent;
  border: none;
}

.header-arrow-icon {
  display: block;
  margin: 4rem auto 0 auto;
}

/* ARTICLE SECTION */

.article {
  position: relative;
}
.article-background {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.article-content {
  position: absolute;
  z-index: 2;
  bottom: 2rem;
  left: 0;
  width: 100%;
}
.text {
  max-width: 75ch;
  margin: 0 auto;
}
.no-background-section {
  color: var(--very-dark-desaturated-blue);
}
.no-background-section > .text {
  color: var(--very-dark-grayish-blue);
}
.no-background-section > .button {
  color: var(--very-dark-desaturated-blue);
  font-weight: 800;
}

.green-background-section {
  color: var(--dark-desaturated-cyan);
}
.blue-background-section {
  color: var(--dark-blue);
}
/* TESTIMONIALS SECTION */

.testimonials-section > .heading {
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.testimonial__picture {
  margin-bottom: 2rem;
  border-radius: 50%;
}
.testimonial__text {
  color: var(--dark-grayish-blue);
  max-width: 500px;
  margin: 0 auto;
}
.testimonial__author {
  display: block;
  font-style: normal;
  font-weight: 900;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--very-dark-desaturated-blue);
  font-size: 1.25rem;
}
.testimonial__role {
  font-style: normal;
  color: var(--grayish-blue);
}

/* GALLERY SECTION */
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery__image {
  width: 50%;
}

/* FOOTER SECTION */
.footer {
  background-color: #94d6c8;
}
.footer > .heading {
  color: var(--dark-desaturated-cyan);
  font-size: 1.5rem;
  margin: 2rem 0 3rem;
}
.footer__logo {
  margin-bottom: 5rem;
}
.footer__navigation {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 5rem auto;
}
.footer-link {
  text-decoration: none;
  color: var(--dark-desaturated-cyan);
  fill: var(--social-icon-color);
}
.social-links {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  margin: 0 auto;
}
.footer-link:hover,
.footer-link:focus {
  color: white;
  fill: white;
}

.attribution {
  margin: 4rem auto 0 auto;
  color: var(--dark-moderate-cyan);
  font-size: 0.8rem;
}
.attribution__link {
  color: var(--dark-desaturated-cyan);
  text-decoration: none;
}
.attribution__link:hover,
.attribution__link:focus {
  text-decoration: underline;
}

@media (max-width: 600px) {
}
@media (min-width: 600px) {
  .header {
    background-image: url("./images/desktop/image-header.jpg");
  }
}
@media (min-width: 1000px) {
  .testimonial {
    transform: translate(-2000px);
  }

  .hamburger-button {
    display: none;
  }

  .header__navigation {
    top: 0;
    left: 50%;
    padding: 2rem;
    height: auto;
    flex-direction: row;
    width: 50%;
    background-color: transparent;
    transform: scale(1);
    visibility: visible;
  }
  .triangle {
    display: none;
  }
  .mobile-navlink {
    color: white;
  }
  .mobile-navlink:hover,
  .mobile-navlink:focus {
    background-color: white;
    color: var(--very-dark-desaturated-blue);
  }
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  .main__section {
    width: 50%;
  }
  .no-background-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main__section--tile-1 {
    order: 1;
  }
  .main__section--tile-2 {
    order: 2;
  }
  .main__section--tile-3 {
    order: 3;
  }
  .main__section--tile-4 {
    order: 4;
  }
  .main__section--tile-5 {
    order: 5;
  }
  .main__section--tile-6 {
    order: 6;
  }

  .testimonials {
    display: flex;
  }
  .gallery {
    flex-wrap: nowrap;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__navigation {
    width: 30%;
  }
  .social-links {
    width: 20%;
  }
}

.animated-text {
  display: inline-block;
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateY(55px);
}
.animated-text--active {
  opacity: 1;
  transform: translateY(0px);
}

.fadein-heading {
  opacity: 0.5;
  transition: opacity 0.35s ease-out;
}
.fadein-heading--active {
  opacity: 1;
}

.floating-arrow {
  opacity: 0;
  animation: floating 1s ease-in-out 1.2s forwards;
}

.swiping-element {
  animation: swipeRight 0.5s ease-out forwards;
}
.swiping-element-1 {
  animation-delay: 0.5s;
}
.swiping-element-2 {
  animation-delay: 0.3s;
}
.swiping-element-3 {
  animation-delay: 0s;
}

@keyframes swipeRight {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes floating {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  33% {
    opacity: 1;
    transform: translateY(40px);
  }
  66% {
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
